---
version: 2
interactions:
    - id: 0
      request:
        host: api.sanity.io
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.sanity.io/v2021-06-07/projects/pib5ji3x
        method: GET
      response:
        body: '{"id":"pib5ji3x","displayName":"terraform-provider-test-project","studioHost":null,"isBlocked":false,"isDisabled":false,"isDisabledByUser":false,"metadata":{"integration":"manage"},"maxRetentionDays":90,"activityFeedEnabled":true,"createdAt":"2026-03-15T15:44:05.287Z","updatedAt":"2026-03-15T15:44:06.235Z","organizationId":"o5NZ7zemK","members":[{"id":"ppU8ETCCO","createdAt":"2026-03-15T15:44:05.335Z","updatedAt":"2026-03-15T15:44:05.335Z","isCurrentUser":false,"isRobot":false,"roles":[{"name":"administrator","title":"Administrator","description":"Read and write access to all datasets, with full access to all project settings."}]},{"id":"pvnQhWn0k","createdAt":"2026-03-15T15:44:37.262Z","updatedAt":"2026-03-15T15:44:37.262Z","isCurrentUser":true,"isRobot":true,"roles":[{"name":"developer","title":"Developer","description":"Read and write access to all datasets, with access to project settings for developers. (Tokens: read+write)"}]}],"features":["activityFeed","contentSourceMapping","editorialAiFieldActions","embeddingsIndexApi","noVersionRevival","privateDataset","roleContributor","roleDeveloper","roleEditor","roleViewer","sanityTasks","scheduledPublishing","singleDocRelease","studioComments","supportCommunity","toggle.schema.upload-pause","toggle.user-application.upload-live-manifest"],"pendingInvites":0}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 199.209833ms
    - id: 1
      request:
        host: api.sanity.io
        body: '{"origin":"https://example.com","allowCredentials":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.sanity.io/v2021-06-07/projects/pib5ji3x/cors
        method: POST
      response:
        body: '{"id":2618643,"origin":"https://example.com","allowCredentials":true,"createdAt":"2026-03-15T15:56:17.105Z","updatedAt":"2026-03-15T16:50:01.983Z","deletedAt":null,"projectId":"pib5ji3x"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 168.895083ms
    - id: 2
      request:
        host: api.sanity.io
        body: '{"label":"Deployer token","roleName":"deploy-studio"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.sanity.io/v2021-06-07/projects/pib5ji3x/tokens
        method: POST
      response:
        body: '{"id":"sixgTIt9vUhMrS","key":"skEpKm4VfSmcXrtSbnovkh1vD4THWbkAbpW5L7bk8RN6OSipbqTAeUAh7eaZZTns1tpGFdiovOwD4YKBG96NbKjp9Gi4OgNf5HjcIO7DSVuEefaYCnVBDv4zZ8yVcCGPJozq9DcqoFYZhiivqZAKuawbi1pR32LsrinuznpBU4M4lhGdU5QL","roles":[{"name":"deploy-studio","title":"Deploy Studio (Token only)"}],"label":"Deployer token","projectUserId":"p-4GTomqFSOQPQ"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1.445140792s
    - id: 3
      request:
        host: api.sanity.io
        body: '{"aclMode":"public"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.sanity.io/v2021-06-07/projects/pib5ji3x/datasets/tfvcr
        method: PUT
      response:
        body: '{"datasetName":"tfvcr","aclMode":"public","description":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 3.702423458s
    - id: 4
      request:
        host: api.sanity.io
        body: ""
        form: {}
        headers: {}
        url: https://api.sanity.io/v2025-03-01/projects/pib5ji3x/datasets/tfvcr/schemas/_.schemas.default
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 102.183792ms
    - id: 5
      request:
        host: api.sanity.io
        body: '{"schemas":[{"workspace":{"name":"default"},"schema":[{"fields":[{"name":"title","title":"Title","type":"string"},{"name":"slug","options":{"source":"title"},"title":"Slug","type":"slug"},{"name":"description","title":"Description","type":"text"}],"name":"category","title":"Category","type":"document"}],"version":"2025-05-01"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.sanity.io/v2025-03-01/projects/pib5ji3x/datasets/tfvcr/schemas
        method: PUT
      response:
        body: '{"documentIds":["_.schemas.default"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 193.339125ms
    - id: 6
      request:
        host: pib5ji3x.api.sanity.io
        body: '{"type":"document","name":"Content Updates Webhook","dataset":"tfvcr","url":"https://example.com/webhooks/sanity","httpMethod":"POST","apiVersion":"v2025-02-19","includeDrafts":false,"headers":{"Content-Type":"application/json"},"rule":{"on":["create","update","delete"],"filter":"_type == ''post''"},"secret":"test-secret-123"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://pib5ji3x.api.sanity.io/v2025-02-19/hooks/projects/pib5ji3x
        method: POST
      response:
        body: '{"type":"document","rule":{"on":["create","update","delete"],"filter":"_type == ''post''"},"filter":null,"projection":null,"apiVersion":"v2025-02-19","httpMethod":"POST","includeDrafts":false,"includeAllVersions":false,"headers":{"Content-Type":"application/json"},"secret":"test-secret-123","id":"jcUEheU3QGrr8uxG","name":"Content Updates Webhook","projectId":"pib5ji3x","dataset":"tfvcr","url":"https://example.com/webhooks/sanity","createdAt":"2026-03-15T16:50:05.877Z","createdByUserId":"pvnQhWn0k","isDisabled":false,"isDisabledByUser":false,"deletedAt":null,"description":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 347.678125ms
[...]
    - id: 8
      request:
        host: api.sanity.io
        body: '{"schemas":[{"workspace":{"name":"default"},"schema":[{"fields":[{"name":"title","title":"Title","type":"string"},{"name":"slug","options":{"source":"title"},"title":"Slug","type":"slug"},{"name":"description","title":"Description","type":"text"}],"name":"category","title":"Category","type":"document"},{"fields":[{"name":"name","title":"Name","type":"string"},{"name":"bio","title":"Biography","type":"text"},{"fields":[{"name":"alt","title":"Alternative text","type":"string"}],"name":"avatar","title":"Avatar","type":"image"}],"name":"author","title":"Author","type":"document"},{"fields":[{"name":"title","title":"Title","type":"string"},{"name":"slug","options":{"source":"title"},"title":"Slug","type":"slug"},{"name":"author","title":"Author","to":[{"type":"author"}],"type":"reference"},{"name":"publishedAt","title":"Published at","type":"datetime"},{"description":"The hero image for this article.","fields":[{"name":"alt","title":"Alternative text","type":"string"}],"name":"mainImage","title":"Main Image","type":"image"},{"name":"body","of":[{"type":"block"},{"type":"image"}],"title":"Body","type":"array"}],"name":"article","title":"Article","type":"document"}],"version":"2025-05-01"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.sanity.io/v2025-03-01/projects/pib5ji3x/datasets/tfvcr/schemas
        method: PUT
      response:
        body: '{"documentIds":["_.schemas.default"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 167.682917ms
[...]
    - id: 12
      request:
        host: api.sanity.io
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.sanity.io/v2021-06-07/projects/pib5ji3x/datasets
        method: GET
      response:
        body: '[{"name":"production","aclMode":"public","createdAt":"2026-03-15T15:44:06.938Z","createdByUserId":"ppU8ETCCO","tags":[]},{"name":"tfvcr","aclMode":"public","createdAt":"2026-03-15T16:50:02.030Z","createdByUserId":"pvnQhWn0k","tags":[]}]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 77.340417ms
[...]
    - id: 14
      request:
        host: pib5ji3x.api.sanity.io
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://pib5ji3x.api.sanity.io/v2025-02-19/hooks/projects/pib5ji3x/jcUEheU3QGrr8uxG
        method: GET
      response:
        body: '{"type":"document","rule":{"on":["create","update","delete"],"filter":"_type == ''post''"},"filter":null,"projection":null,"apiVersion":"v2025-02-19","httpMethod":"POST","includeDrafts":false,"includeAllVersions":false,"headers":{"Content-Type":"application/json"},"secret":"test-secret-123","id":"jcUEheU3QGrr8uxG","name":"Content Updates Webhook","projectId":"pib5ji3x","dataset":"tfvcr","url":"https://example.com/webhooks/sanity","createdAt":"2026-03-15T16:50:05.877Z","createdByUserId":"pvnQhWn0k","isDisabled":false,"isDisabledByUser":false,"deletedAt":null,"description":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 127.75825ms
[...]
    - id: 22
      request:
        host: pib5ji3x.api.sanity.io
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://pib5ji3x.api.sanity.io/v2025-02-19/hooks/projects/pib5ji3x/jcUEheU3QGrr8uxG
        method: DELETE
      response:
        body: '{"id":"jcUEheU3QGrr8uxG","deleted":1}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 695.454125ms
    - id: 23
      request:
        host: api.sanity.io
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.sanity.io/v2021-06-07/projects/pib5ji3x/cors/2618643
        method: DELETE
      response:
        body: '{"id":2618643,"deleted":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 700.034459ms
    - id: 24
      request:
        host: api.sanity.io
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.sanity.io/v2021-06-07/projects/pib5ji3x/tokens/sixgTIt9vUhMrS
        method: DELETE
      response:
        body: '{"id":"sixgTIt9vUhMrS","deleted":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 834.321333ms
[...]
