---
version: 2
interactions:
    - id: 0
      request:
        host: api.sanity.io
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.sanity.io/v2021-06-07/projects/pib5ji3x
        method: GET
      response:
        body: '{"id":"pib5ji3x","displayName":"terraform-provider-test-project","studioHost":null,"isBlocked":false,"isDisabled":false,"isDisabledByUser":false,"metadata":{"integration":"manage"},"maxRetentionDays":90,"activityFeedEnabled":true,"createdAt":"2026-03-15T15:44:05.287Z","updatedAt":"2026-03-15T15:44:06.235Z","organizationId":"o5NZ7zemK","members":[{"id":"ppU8ETCCO","createdAt":"2026-03-15T15:44:05.335Z","updatedAt":"2026-03-15T15:44:05.335Z","isCurrentUser":false,"isRobot":false,"roles":[{"name":"administrator","title":"Administrator","description":"Read and write access to all datasets, with full access to all project settings."}]},{"id":"pvnQhWn0k","createdAt":"2026-03-15T15:44:37.262Z","updatedAt":"2026-03-15T15:44:37.262Z","isCurrentUser":true,"isRobot":true,"roles":[{"name":"developer","title":"Developer","description":"Read and write access to all datasets, with access to project settings for developers. (Tokens: read+write)"}]}],"features":["activityFeed","contentSourceMapping","editorialAiFieldActions","embeddingsIndexApi","noVersionRevival","privateDataset","roleContributor","roleDeveloper","roleEditor","roleViewer","sanityTasks","scheduledPublishing","singleDocRelease","studioComments","supportCommunity","toggle.schema.upload-pause","toggle.user-application.upload-live-manifest"],"pendingInvites":0}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 297.050958ms
    - id: 1
      request:
        host: api.sanity.io
        body: '{"origin":"https://example.com","allowCredentials":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.sanity.io/v2021-06-07/projects/pib5ji3x/cors
        method: POST
      response:
        body: '{"id":2618643,"origin":"https://example.com","allowCredentials":true,"createdAt":"2026-03-15T15:56:17.105Z","updatedAt":"2026-03-15T16:27:57.544Z","deletedAt":null,"projectId":"pib5ji3x"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 788.130459ms
    - id: 2
      request:
        host: api.sanity.io
        body: '{"label":"Deployer token","roleName":"deploy-studio"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.sanity.io/v2021-06-07/projects/pib5ji3x/tokens
        method: POST
      response:
        body: '{"id":"si3xCs9LJDGrR7","key":"sklwX6vXODLEtwxOCBQqnFM6v5dQQfYci9ZrzzmIVJ0eLam8wxHxQlVqrll0DPAnd0knOWdQ0wEji1RajgN6ATp7tOSvj2QwBqOxbe4tMEc6nrb7svAOqV1b6t6ZS6bOdAE6ErqQLUt7Zs17FcYh6eGtKTCr25mtEDLp1GihJ6FhioxhZKfy","roles":[{"name":"deploy-studio","title":"Deploy Studio (Token only)"}],"label":"Deployer token","projectUserId":"p-W0IZcBj6PTsQ"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1.504921292s
    - id: 3
      request:
        host: api.sanity.io
        body: '{"aclMode":"public"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.sanity.io/v2021-06-07/projects/pib5ji3x/datasets/tfvcr
        method: PUT
      response:
        body: '{"datasetName":"tfvcr","aclMode":"public","description":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 3.348456625s
    - id: 4
      request:
        host: api.sanity.io
        body: ""
        form: {}
        headers: {}
        url: https://api.sanity.io/v2025-03-01/projects/pib5ji3x/datasets/tfvcr/schemas/_.schemas.default
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 125.411083ms
    - id: 5
      request:
        host: api.sanity.io
        body: '{"schemas":[{"workspace":{"name":"default"},"schema":[{"fields":[{"name":"title","title":"Title","type":"string"},{"name":"slug","options":{"source":"title"},"title":"Slug","type":"slug"},{"name":"description","title":"Description","type":"text"}],"name":"category","title":"Category","type":"document"}],"version":"2025-05-01"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.sanity.io/v2025-03-01/projects/pib5ji3x/datasets/tfvcr/schemas
        method: PUT
      response:
        body: '{"documentIds":["_.schemas.default"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 152.766ms
    - id: 6
      request:
        host: pib5ji3x.api.sanity.io
        body: '{"type":"document","name":"Content Updates Webhook","dataset":"tfvcr","url":"https://example.com/webhooks/sanity","httpMethod":"POST","apiVersion":"v2025-02-19","includeDrafts":false,"headers":{"Content-Type":"application/json"},"rule":{"on":["create","update","delete"],"filter":"_type == ''post''"},"secret":"test-secret-123"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://pib5ji3x.api.sanity.io/v2025-02-19/hooks/projects/pib5ji3x
        method: POST
      response:
        body: '{"type":"document","rule":{"on":["create","update","delete"],"filter":"_type == ''post''"},"filter":null,"projection":null,"apiVersion":"v2025-02-19","httpMethod":"POST","includeDrafts":false,"includeAllVersions":false,"headers":{"Content-Type":"application/json"},"secret":"test-secret-123","id":"wYzHRR1y93UAJvnZ","name":"Content Updates Webhook","projectId":"pib5ji3x","dataset":"tfvcr","url":"https://example.com/webhooks/sanity","createdAt":"2026-03-15T16:28:01.106Z","createdByUserId":"pvnQhWn0k","isDisabled":false,"isDisabledByUser":false,"deletedAt":null,"description":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 401.872875ms
[...]
    - id: 8
      request:
        host: api.sanity.io
        body: '{"schemas":[{"workspace":{"name":"default"},"schema":[{"fields":[{"name":"title","title":"Title","type":"string"},{"name":"slug","options":{"source":"title"},"title":"Slug","type":"slug"},{"name":"description","title":"Description","type":"text"}],"name":"category","title":"Category","type":"document"},{"fields":[{"name":"name","title":"Name","type":"string"},{"name":"bio","title":"Biography","type":"text"},{"fields":[{"name":"alt","title":"Alternative text","type":"string"}],"name":"avatar","title":"Avatar","type":"image"}],"name":"author","title":"Author","type":"document"},{"fields":[{"name":"title","title":"Title","type":"string"},{"name":"slug","options":{"source":"title"},"title":"Slug","type":"slug"},{"name":"author","title":"Author","to":[{"type":"author"}],"type":"reference"},{"name":"publishedAt","title":"Published at","type":"datetime"},{"description":"The hero image for this article.","fields":[{"name":"alt","title":"Alternative text","type":"string"}],"name":"mainImage","title":"Main Image","type":"image"},{"name":"body","of":[{"type":"block"},{"type":"image"}],"title":"Body","type":"array"}],"name":"article","title":"Article","type":"document"}],"version":"2025-05-01"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.sanity.io/v2025-03-01/projects/pib5ji3x/datasets/tfvcr/schemas
        method: PUT
      response:
        body: '{"documentIds":["_.schemas.default"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 130.974ms
[...]
    - id: 11
      request:
        host: api.sanity.io
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.sanity.io/v2021-06-07/projects/pib5ji3x/datasets
        method: GET
      response:
        body: '[{"name":"production","aclMode":"public","createdAt":"2026-03-15T15:44:06.938Z","createdByUserId":"ppU8ETCCO","tags":[]},{"name":"tfvcr","aclMode":"public","createdAt":"2026-03-15T16:27:57.588Z","createdByUserId":"pvnQhWn0k","tags":[]}]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 62.382833ms
[...]
    - id: 14
      request:
        host: pib5ji3x.api.sanity.io
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://pib5ji3x.api.sanity.io/v2025-02-19/hooks/projects/pib5ji3x/wYzHRR1y93UAJvnZ
        method: GET
      response:
        body: '{"type":"document","rule":{"on":["create","update","delete"],"filter":"_type == ''post''"},"filter":null,"projection":null,"apiVersion":"v2025-02-19","httpMethod":"POST","includeDrafts":false,"includeAllVersions":false,"headers":{"Content-Type":"application/json"},"secret":"test-secret-123","id":"wYzHRR1y93UAJvnZ","name":"Content Updates Webhook","projectId":"pib5ji3x","dataset":"tfvcr","url":"https://example.com/webhooks/sanity","createdAt":"2026-03-15T16:28:01.106Z","createdByUserId":"pvnQhWn0k","isDisabled":false,"isDisabledByUser":false,"deletedAt":null,"description":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 136.693208ms
[...]
    - id: 19
      request:
        host: api.sanity.io
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.sanity.io/v2021-06-07/projects/pib5ji3x/cors/2618643
        method: DELETE
      response:
        body: '{"id":2618643,"deleted":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 106.109ms
[...]
    - id: 24
      request:
        host: api.sanity.io
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.sanity.io/v2021-06-07/projects/pib5ji3x/tokens/si3xCs9LJDGrR7
        method: DELETE
      response:
        body: '{"id":"si3xCs9LJDGrR7","deleted":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1.014524542s
[...]
